PORT=3000
HOST=0.0.0.0
APP_TITLE=AllMightyDLP
BASE_URL=
APPDATA_DIR=/config
YTDLP_BINARY=yt-dlp
FFMPEG_BINARY=ffmpeg
ALLOW_PLAYLISTS=true
DEFAULT_PROFILE=video
AUTH_USERNAME=
AUTH_PASSWORD=
COOKIE_FILE=/config/cookies/cookies.txt
TEMP_DIR=/config/tmp
CLEANUP_AFTER_MINUTES=180
DOWNLOAD_TOKEN_SECRET=
PUID=99
PGID=100
UMASK=002
